In [1]:
import numpy as np
import pandas as pd
import time
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
py_netflix_data = pd.read_csv('unscaled_data.csv')
py_netflix_data.head()

,Cust_Id,8.0,28.0,30.0,58.0,77.0,83.0,108.0,111.0,118.0,...,17622.0,17627.0,17671.0,17672.0,17692.0,17697.0,17703.0,17709.0,17762.0,17764.0
0,6,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,4.0,NaN,2.0,5.0,NaN,NaN
1,7,5.0,4.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
2,79,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,4.0,NaN,4.0,4.0,1.0,NaN,NaN,NaN,4.0
3,134,NaN,5.0,NaN,5.0,4.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,4.0,NaN
4,188,NaN,NaN,3.0,NaN,NaN,NaN,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0

In [3]:
customer_ids = py_netflix_data['Cust_Id'].iloc[0:100]
rating_df = py_netflix_data.iloc[0:100,1:51]
rating_df.head()

,8.0,28.0,30.0,58.0,77.0,83.0,108.0,111.0,118.0,143.0,...,361.0,367.0,406.0,413.0,424.0,442.0,443.0,457.0,468.0,473.0
0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN
1,5.0,4.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN
2,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
3,NaN,5.0,NaN,5.0,4.0,NaN,NaN,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
4,NaN,NaN,3.0,NaN,NaN,NaN,3.0,2.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN

In [4]:
scaler = StandardScaler()
scaler.fit(rating_df)
scaled_df = pd.DataFrame(scaler.transform(rating_df))
scaled_df.index = rating_df.index
scaled_df.columns = rating_df.columns
scaled_df = round(scaled_df, 3)
scaled_df.head()

,8.0,28.0,30.0,58.0,77.0,83.0,108.0,111.0,118.0,143.0,...,361.0,367.0,406.0,413.0,424.0,442.0,443.0,457.0,468.0,473.0
0,NaN,NaN,-0.734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.068,NaN,NaN,NaN,NaN,NaN,NaN,0.904,-0.305,NaN
1,1.269,0.265,1.321,NaN,NaN,1.68,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.904,1.402,NaN
2,NaN,NaN,-0.734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.059,NaN,0.269,NaN,NaN,NaN,NaN,NaN,0.549,NaN
3,NaN,1.252,NaN,1.602,1.225,NaN,NaN,NaN,1.232,1.464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.017,NaN,NaN
4,NaN,NaN,-0.734,NaN,NaN,NaN,-0.072,-1.074,-0.479,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.056,-0.305,NaN

In [5]:
# Example in the paper
a = np.array([[2/3, 0, 0, 5/3, -7/3, 0, 0]])
b = np.array([[0, 0, 0, -5/3, 1/3, 4/3, 0]])
cosine_similarity(a, b)

array([[-0.55908525]])

In [6]:
# sklearn.cosine_similiarity doesn't allow NA values
# Imputing NA with 0 does not affect the value for cosine similiarity.
scaled_df = scaled_df.fillna(0)
scaled_df = pd.DataFrame(scaled_df.to_records())
scaled_df

,index,8.0,28.0,30.0,58.0,77.0,83.0,108.0,111.0,118.0,...,361.0,367.0,406.0,413.0,424.0,442.0,443.0,457.0,468.0,473.0
0,0,0.000,0.000,-0.734,0.000,0.000,0.000,0.000,0.000,0.000,...,-1.068,0.0,0.000,0.000,0.000,0.000,0.000,0.904,-0.305,0.000
1,1,1.269,0.265,1.321,0.000,0.000,1.680,0.000,0.000,0.000,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.904,1.402,0.000
2,2,0.000,0.000,-0.734,0.000,0.000,0.000,0.000,0.000,0.000,...,0.059,0.0,0.269,0.000,0.000,0.000,0.000,0.000,0.549,0.000
3,3,0.000,1.252,0.000,1.602,1.225,0.000,0.000,0.000,1.232,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,-1.017,0.000,0.000
4,4,0.000,0.000,-0.734,0.000,0.000,0.000,-0.072,-1.074,-0.479,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,-0.056,-0.305,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
96,96,0.000,0.000,0.294,0.000,0.000,-0.336,0.000,0.000,0.000,...,0.000,0.0,-0.692,0.000,0.000,1.323,0.000,-1.017,0.000,0.000
97,97,0.000,0.000,0.294,0.139,0.350,0.672,0.000,0.728,0.000,...,0.000,0.0,0.000,0.000,0.000,0.000,1.633,0.904,0.549,0.000
98,98,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.904,-0.305,0.000
99,99,1.269,-0.723,0.000,0.000,0.000,0.672,0.000,0.000,0.000,...,0.000,0.0,0.000,0.492,0.636,0.000,1.633,-0.056,0.000,1.294

In [7]:
# Add back in customer_ids
scaled_df.insert(loc=0, column='cust_id', value=customer_ids)
scaled_df.head()

,cust_id,index,8.0,28.0,30.0,58.0,77.0,83.0,108.0,111.0,...,361.0,367.0,406.0,413.0,424.0,442.0,443.0,457.0,468.0,473.0
0,6,0,0.000,0.000,-0.734,0.000,0.000,0.00,0.000,0.000,...,-1.068,0.0,0.000,0.0,0.0,0.0,0.0,0.904,-0.305,0.0
1,7,1,1.269,0.265,1.321,0.000,0.000,1.68,0.000,0.000,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.904,1.402,0.0
2,79,2,0.000,0.000,-0.734,0.000,0.000,0.00,0.000,0.000,...,0.059,0.0,0.269,0.0,0.0,0.0,0.0,0.000,0.549,0.0
3,134,3,0.000,1.252,0.000,1.602,1.225,0.00,0.000,0.000,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,-1.017,0.000,0.0
4,188,4,0.000,0.000,-0.734,0.000,0.000,0.00,-0.072,-1.074,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,-0.056,-0.305,0.0

In [8]:
# Finding the most similar user with the first user in our dataframe, customer ID #6
# Extract an array using the movie ratings of that user

rating_user6 = np.array([scaled_df.iloc[0, 2:]])
max_similarity = 0
similar_user = 0
for i in range(len(scaled_df)):
    if i == 0:
        continue
    target_user = np.array([scaled_df.iloc[i, 2:]])
    curr_similarity = cosine_similarity(rating_user6, target_user)[0][0]
    if max_similarity < curr_similarity:
        max_similarity = curr_similarity
        similar_user = i

In [9]:
print("Similar User:", scaled_df['cust_id'].iloc[similar_user])
print("Similarity Score:", max_similarity)

Similar User: 2307
Similarity Score: 0.5549483745377142

In [10]:
similar_df = scaled_df.iloc[[0,similar_user]]
similar_df

,cust_id,index,8.0,28.0,30.0,58.0,77.0,83.0,108.0,111.0,...,361.0,367.0,406.0,413.0,424.0,442.0,443.0,457.0,468.0,473.0
0,6,0,0.0,0.000,-0.734,0.0,0.0,0.0,0.0,0.0,...,-1.068,0.0,0.0,0.0,0.0,0.000,0.0,0.904,-0.305,0.0
32,2307,32,0.0,-0.723,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,1.323,0.0,0.904,0.000,0.0

In [16]:
def get_similarities(idx):
    current_rating = np.array([scaled_df.iloc[idx, 2:]]) # rating of the current user
  
    # Get similarity with all the other users
    similarity_list = []
  
    for i in range(len(scaled_df)):
        if i == idx:
            continue

        another_rating = np.array([scaled_df.iloc[i, 2:]]) # rating of another 
        curr_similarity = round(cosine_similarity(current_rating, another_rating)[0][0], 3)
        similarity = {
            'user_idx': i,
            'cosine_similarity': curr_similarity
        }
        similarity_list.append(similarity)
    
    return similarity_list

In [21]:
def recommend_movies(idx):
    recommended_movies = pd.DataFrame()
    current_rating = np.array([scaled_df.iloc[idx, 2:]]) # rating of the current user

    if 0 not in current_rating:
        print("This user has watched all the movies.")
        return recommended_movies

    # Get similarity with all the other users
    similarity_list = get_similarities(idx)

    # Get weighted average for the movies
    movies = scaled_df.columns[2:]
    movie_predicted_ratings = []
    for movie in movies:
        current_user_rating = scaled_df[movie].iloc[idx]
        if current_user_rating != 0:
            continue

        numerator = 0
        denominator = 0
        for similarity in similarity_list:
            other_idx = similarity['user_idx']
            other_similarity = similarity['cosine_similarity']
            other_user_rating = scaled_df[movie].iloc[other_idx]

        # Weighted average will take into account users who actually rated the movie
        if other_user_rating == 0:
            continue

        numerator += other_user_rating * other_similarity
        denominator += other_similarity

        if denominator == 0:
            continue
        else:
            predicted_rating = numerator / denominator
            movie_predicted_ratings.append({
                'movie': movie,
                'predicted_rating': predicted_rating
            })

    recommended_movies = pd.DataFrame(movie_predicted_ratings).sort_values(by=['predicted_rating'], ascending=False)
    return recommended_movies

In [22]:
print(recommend_movies(0))

    movie  predicted_rating
9   443.0             1.633
6   357.0             1.497
5   348.0             1.484
10  473.0             1.294
0     8.0             1.269
3   199.0             1.119
2    83.0             0.672
8   424.0             0.636
7   413.0             0.492
4   312.0             0.279
1    28.0            -0.723